# --------------------
# Frontend / Node
# --------------------
node_modules/
dist/
*.local

# --------------------
# Python
# --------------------
venv/
.venv/
__pycache__/
*.py[cod]

# --------------------
# Environment variables / secrets
# --------------------
.env
.env.*
!.env.example

# --------------------
# JetBrains / WebStorm / PyCharm
# --------------------
.idea/

# --------------------
# Operating system files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log